.WeatherTemperature .unitC {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
  margin-left: 2px;
}

.WeatherTemperature .unitF {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  left: 120px;
  top: -50px;
  margin-left: 2px;
}